# SUPABASE CONFIGURATION
# Substitua os valores abaixo com as credenciais do seu projeto do Supabase.
# Depois, renomeie este arquivo para apenas '.env'

https://avxnrygqwasqpalyqqhv.supabase.co
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2eG5yeWdxd2FzcXBhbHlxcWh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0ODY5NjQsImV4cCI6MjA5OTA2Mjk2NH0.xU_Zd8l3UpSrAmbK1mLCI85Y-BEN3pGJ4hWWscOjrKQ
